.addTodoForm {
  @apply bg-slate-400/25 
  flex flex-col justify-center gap-2
  max-w-sm p-4;

  // Form title
  > h1 {
    @apply text-2xl font-bold;

    // Separator
    &:after {
      @apply block w-full bg-slate-400/25 my-2;
      height: 2px;
      content: "";
    }
  }

  .row {
    @apply flex items-center justify-between gap-2;

    > input {
      @apply border border-gray-400 rounded 
      py-2 px-4 
      text-black;
    }
  }
}

.displayTodos {
  @apply max-w-sm;

  > h1 {
    @apply relative pb-2
    text-2xl font-bold 
    flex justify-between items-center;

    // Underline
    &:after {
      @apply absolute w-full bottom-0 mt-2 bg-slate-400/25;
      height: 2px;
      content: "";
    }

    // Clear button
    > button {
      @apply font-bold text-xs py-1 px-2 rounded;
    }
  }

  > ul {
    @apply list-none flex flex-col gap-2 mt-2;
  }

  .row {
    @apply flex items-center gap-4
    p-4 bg-slate-400/25;

    // Checkbox
    > input {
      @apply aspect-square rounded border border-gray-400;
      min-width: 2rem;
      min-height: 2rem;
    }

    .buttons {
      @apply flex flex-col gap-2 ml-auto;
    }

    .text {
      > h2 {
        @apply text-xl font-bold break-all;
      }
      > p {
        @apply opacity-80 text-sm break-all;
      }
    }
  }
}

.editTodoForm {
  @apply flex justify-between items-center gap-2;

  .text {
    @apply flex flex-col gap-2;

    > input {
      @apply border border-gray-400 rounded 
      py-2 px-4 
      text-black;
    }
  }

  .buttons {
    @apply ml-auto;
  }
}

.historyDisplay {
  @apply flex flex-col gap-4
  max-w-sm p-4
  bg-slate-400/25;

  > h1 {
    @apply relative text-2xl font-bold;

    // Separator
    &:after {
      @apply block w-full bg-slate-400/25 mt-2;
      height: 2px;
      content: "";
    }
  }

  .buttons {
    @apply flex gap-2;
  }

  > ul {
    @apply list-none flex flex-col-reverse gap-2;
    > li > button {
      @apply relative flex items-center gap-8 
      w-full p-4 rounded
      bg-slate-400/25;

      > h2 {
        @apply text-xl font-bold break-all min-w-max;

        // Side separator
        &:after {
          @apply absolute top-0 bottom-0 ml-4 bg-slate-400/25;
          width: 2px;
          content: "";
        }
      }

      // 🤢 selectors
      // Action description
      > div {
        @apply text-sm opacity-80;
        > div {
          @apply break-all text-left;
        }
      }

      &:hover,
      &:focus,
      &:focus-within {
        @apply outline outline-blue-400/50;
      }

      &.redoable {
        @apply opacity-25;
        &.target {
          @apply opacity-100;
        }
      }

      &.inQueue {
        @apply bg-green-400/10 text-green-300;
        &.redoable{
          @apply opacity-75;
        }
      }

      &.target {
        @apply outline outline-green-400/50 bg-green-400/25 text-green-300;
        opacity: 100% !important; 
      }

      &.invalid {
        @apply outline outline-red-400/50 bg-red-400/25 text-red-300;
        opacity: 100% !important;
      }
    }
  }
}

// Page wide buttons

.edit {
  @apply bg-blue-700/25 text-blue-400 border border-blue-400 
  font-bold py-2 px-4 rounded;

  &:hover {
    @apply bg-blue-600/75 text-blue-200;
  }
}

.delete {
  @apply bg-red-700/25 text-red-400 border border-red-400 
  font-bold py-2 px-4 rounded ml-auto;

  &:hover {
    @apply bg-red-600/75 text-red-200;
  }
}

.reset {
  @apply bg-gray-700/75 text-gray-400 border border-gray-400
  font-bold py-2 px-4 rounded;

  &:hover {
    @apply bg-gray-600/75 text-gray-200;
  }
}

.edit,
.delete,
.reset {
  &:disabled {
    opacity: 25%;
    cursor: not-allowed;
  }
}
